@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Commissioner&family=Grape+Nuts&family=Inter&family=Kumbh+Sans:wght@400;700&family=League+Spartan&family=Overpass&family=Poppins&family=Rubik&family=Space+Mono&family=Square+Peg&family=Ubuntu&display=swap');
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-wrap :wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #e93062, #b6cd40);
    position: relative;
    left: -8px;
    top: -8px;
    font-family: rubik;
}

p {
    text-align: center;
}

h1 {
    margin: auto;
    
}
.container {
    width: fit-content;
    height: auto;
    background: white;
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(6, 10vh);

}

.tile {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-size: 0.75em;
}

.cover-con {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5em;
}

html, body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
